{% extends 'index.html' %} {% block content %}
<h1>Room</h1>
<div class="rooms row">
  <div class="col-2">
    <p>{{room_count}} room(s) available</p>
    <div>
      <a class="nav-link link-success" href="{% url 'create-room' %}"
        >Create topic
      </a>
    </div>
        {% include 'base/topics_component.html' %}
  </div>

  <div class="room col-6">
    {% include 'base/feed_component.html' %}
  </div>
  <div class="col-4">
    {% include 'base/activity_component.html' %}
  </div>
</div>
{% endblock %}
