{% extends 'index.html' %} {% block content %}
<div class="row mt-2 gap-2">
    <div class="col-8 bg-body-secondary text-body card">
        <h1>{{room.name}} - {{room.id}}</h1>
        <div class="description card-header">
            <p>{{ room.description}}</p>
        </div>
        <div class="comment card-body">
            <h3>Conversation</h3>
            <hr>
            {% for message in room_msg %}
            <div class="card mt-2 mb-2 bg-body-secondary">
                {% if request.user == message.user %}
                {% endif %}
                <div class="card-header">
                    <small>{{message.user}} {{message.created|timesince}} ago</small>
                </div>
                <div class=" card-body mb-2">
                    {{message.body}}
                </div>
                <div class="card-footer">
                    <a
                        class="btn btn-outline-danger mb-2 "
                        href="{% url 'delete-message' message.id %}"
                    >Delete
                    </a>
                </div>
            </div>

            {% endfor %}
        </div>
        {% if request.user.is_authenticated %}
        <div class="mb-3"
            <form action="" method="POST" class="mt-2">
                {% csrf_token %}
                <div class="mb-2 input-group">
                    <input
                            class="form-control form-control-lg"
                            type="text"
                            name="body_msg"
                            id="body_msg"
                            placeholder="Leave a comment"
                    >
                </div>
            </form>
        </div>
    {% endif %}
    </div>
    <div class="col-3 card bg-body-secondary text-secondary">
        <h3 class="card-header">Participants</h3>
        {% for participant in participants %}
            <div class="card-footer">
<!--                you can get current user -->
<!--                <p>@{{user.username}}</p>-->
                <p> @{{ participant }}</p>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
