<div class="card bg-body-secondary">
  <div class="card-header">
      <h4>Browse topics</h4>
  </div>
  <div class="card-body">
    <a
      class="link-underline-opacity-25 link-underline-opacity-100-hover link-dark"
      href="{% url 'room' %}"
    >All rooms
    </a>
  </div>
  {% for topic in topics %}
  <div class="card-footer" style="padding-top: 5px; padding-bottom: 5px">
    <a
        class="link-dark link-underline-opacity-25 link-underline-opacity-100-hover"
        href="{% url 'room' %}?q={{topic.name}}"
    >{{ topic.name }}
    </a>
  </div>
  {% endfor %}
</div>
